doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title plst2
        block head
            link(rel="stylesheet", href=require("styles/reset.css"))
            link(rel="stylesheet", href=require("styles/default.scss"))
            link(rel="stylesheet", href=require("styles/header.scss"))
            link(rel="stylesheet", href=require("styles/sidebar-nav.scss"))
            link(rel="icon", type="image/png", href=require("assets/plst.png"))
    body(class='preload') 
        script(src=require("scripts/transition-fix.ts"))
        script(src=require("scripts/toggle-header.ts") defer)
        header(class='header') 
            h1(class='logo') plst 
            nav 
                ul 
                    li(class='header-nav')
                        a(class='header-nav-link' href='/index.html') index
                        a(class='header-nav-link' href='/watch.html') watch
        div(class='content-wrapper')
            block content
