extends layout.pug

block append head
    link(rel="stylesheet", href=require('./styles/player-details.scss'))
    link(rel="stylesheet", href=require('./styles/player.scss'))
    script(src="/htmx.js")
    script(src=require("./scripts/htmx-error.js") defer)

block content
    main
        script(type="module", src=require('./scripts/watch.ts') defer) 
        script(type="module", src=require('./scripts/tabbed-button-group.ts') defer) 
        div#player-wrapper
            div#yt-player-wrapper
                div#yt-player
            div#server-player-wrapper
                video#server-player(src='/playlist/servermedia' controls)
        div(id='player-details' class='tabbed-button-group')
            nav
                ul
                    li
                        button(type="button" class="tab-button active") playlist 
                    li
                        button(type="button" class="tab-button") controller
                    li
                        button(type="button" class="tab-button") diagnostics
            div(class='tabs')
                section(class='tab active playlist-tab')
                    form.add-url-form(hx-post="/playlist/add", hx-target="#diagnostics", hx-swap="afterbegin") 
                        input(type="text", list="playlist-url-presets", class='text-input-drop', name="url", placeholder="add url to playlist...", ondragover="event.preventDefault()")
                        datalist#playlist-url-presets
                            option(value="yt.be/search:") 
                            option(value="yt.be/") 

                        button(type="submit") add
                        input#add-to-end(type="radio", name="position", value="add-to-end")
                        label(for="add-to-end") add to end
                        input#queue-next(type="radio", name="position", value="queue-next", checked)
                        label(for="queue-next") queue next
                    form(class='playlist-controls', hx-trigger="submit")
                        div.button-bar
                            button(type="submit", hx-trigger="load,click,refresh-playlist from:body" hx-get="/ssr/playlist.html", hx-target="#playlist-container", hx-params="*", hx-include="*") refresh
                            button(type="submit", hx-patch="/playlist/next", hx-target="#diagnostics", hx-swap="afterbegin") next
                            button(type="submit", hx-patch="/playlist/move/up", hx-target="#diagnostics", hx-swap="afterbegin") up
                            button(type="submit", hx-patch="/playlist/move/down", hx-target="#diagnostics", hx-swap="afterbegin") down
                            button(type="submit", hx-patch="/playlist/prev", hx-target="#diagnostics", hx-swap="afterbegin") prev
                            button(type="submit", hx-delete="/playlist/delete", hx-target="#diagnostics", hx-swap="afterbegin") remove
                            button.scroll-to-current-playing(type="button") current
                        div#playlist-container
                section(class='tab') chat
                section(class='tab')
                    div#diagnostics

